/* Global */
a {
  text-decoration: none !important;
}

/* Utilities */
.pointer {
  cursor: pointer;
}

/* Criar-conta */
.card { 
  max-Width: 600px;
  min-width: 300px;
  width: 100%;
}

/* Header.jsx */
.icone:hover {
  border-bottom: 1px solid green;
  transition: all 250ms;
}

.imagem-perfil-header {  
  border: 2px solid rgb(160, 197, 67);
  border-radius: 50%;
  width: 70px;
  height: 70px;
  
}

/* Footer */

.footer {
  height: 400px;
}


/* Media Queries */

@media (max-width: 300px) {
  .card {
    width: 300px !important;
  }
}

@media (max-width: 768px) {
  .footer .col-md-4 {
    margin-bottom: 1rem;
  }
}