/* Criar-conta */

.card { 
  max-Width: 600px;
  min-width: 300px;
  width: 100%;
}

/* Header.jsx */
.icone:hover {
  border-bottom: 1px solid green;
  transition: all 250ms;
}

/* Footer */

.footer {
  height: 400px;
}

.teste {
  border: 1px solid red;
}



/* Media Queries */

@media (max-width: 300px) {
  .card {
    width: 300px !important;
  }
}

@media (max-width: 768px) {
  .footer .col-md-4 {
    margin-bottom: 1rem;
  }
}